#### :LiCalendarClock:  13/10/2024 - 11:21
#### :LiStepBack: Nota precedente:

Ha l'obbiettivo di garantire il verificarsi di proprietà, per farlo ha bisogno del ==**model checking**==: una strumento per fare esplorazione esaustiva di sitemi finiti. Quello che fa è una verifica sul modello di un programma (questo modello lo creiamo noi), verifica se vale una proprietà di interesse in modo esaustivo ma limita la famiglia dei programmi che si può operare. Una cosa da tener conto è che il modello non garantisce che non ci sia un errore di di modellazione

![[Pasted image 20241013115102.png]]
#### :LiStepForward: Nota successiva: